################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Budget.Models/bin
/.vs
/Budget.Models/obj
/Budget.Services/bin/Debug/net7.0
/Budget.Services/bin/Release/net7.0
/Budget.Services/obj
